* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* li{
    
    }
    li h4{
    
    }
    li p{
    
    } */
}

body .wrapper {
  max-width: 960px;
  margin: 0 auto;
}

body h1 {
  margin: 40px auto;
  color: #ff0aa7;
  text-align: center;
}

body ul {
  padding: 0;
  list-style: none;
}

body footer {
  background-color: #eee;
  padding: 100px;
  margin-top: 100px;
}

body form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

body label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0px 6px;
}

body input, body select {
  padding: 10px;
  border: 1px groove #e1e1e1;
  border-radius: 5px;
}

body .field {
  display: inline-block;
  margin: 0 10px;
}

body button {
  color: white;
  border: 0;
  background-color: #ff0aa7;
  padding: 10px;
  min-width: 100px;
  border-radius: 5px;
}

body footer a {
  text-align: center;
  display: block;
  color: #999;
  margin-top: 50px;
  font-size: 0.7em;
  text-decoration: none;
  transition: .5s ease-in;
}

body footer a:hover {
  color: red;
}
