@import 'utilities';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #022;
    margin: 0;
    font-family: $font-stack; 
    max-height: 100vw;
    
    
    .wrapper{
        max-width: 960px;
        margin: 0 auto;
        h1{
            margin: 40px auto;
            color: $pink_color;
            text-align: center;
        }
        ul{
            padding: 1rem;
            list-style: none;
            li{
                padding: 15px 15px;
                border: 1px solid $pink_color;
                margin: 10px auto;
                border-radius: $br;
                background-color: aquamarine;
            }
            h4{
                color: $pink_color;
                margin: 0;
                text-transform: uppercase;
            }
            p{
                color: black;
                margin: 8px 0 0;
            } 

            

        }
    }


    footer{
        background-color: aquamarine;
        padding: 100px;
        margin-top: 100px;        
        
            form{
                max-width: 960px;
                margin: 0 auto;
                text-align: center;
            }
            label{
                display: block;
                font-weight: bold;
                font-size: 0.8em;
                color: #333;
                margin: 16px 0px 6px;
            }
            input, select{
                padding: 10px;
                border: 1px groove #a11e1e;
                border-radius: 5px;
            }
            .field{
                display: inline-block;
                margin: 0 10px;
            }
            button{
                color: white;
                border: 0;
                background-color: $pink_color;
                padding: 10px;
                min-width: 100px;
                border-radius: 5px;
            }
            a{
                text-align: center;
                display: block;
                color: #999;
                margin-top: 50px;
                font-size: 0.7em;
                text-decoration: none;
                transition: 1s ease-in;
            }

            a:hover{
                color: $pink_color;
                transform: scale(2);
            }
        }
    }



@media (max-width:1030px){
    button{
        margin: 1rem 0rem;
    }
}